@font-face {
  font-family: 'PosterBodoni';
  src: url('/fonts/PosterBodoniCyrillic_BT.ttf') format('ttf');
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  padding: 5px;
}

p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: "PosterBodoni", sans-serif;
  font-weight: normal;
  margin: 0 !important;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: "PosterBodoni", sans-serif;
  font-weight: 400;
  margin: auto;
  min-width: 320px;
}

:root {
  --gap: 32px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  margin: 0;
  padding: 0;
}

.btn {
  text-align: center;
  font-weight: bold;
}

.flex {
  display: flex;
}

.container {
  /* background: rgb(244, 244, 244); */
  max-width: 1400px;
  padding: 10px 22px;
  margin: 0 auto;
  width: 100%;
}

.header {}

.header__container {}

.header__logo {}

.header__logo-img {
  max-width: 100%;
}

.section__main {
  flex-direction: row;
}

.section__one {
  margin-right: 76px;
  padding-left: 36px;
  margin-top: -60px;
}

.section__two {
  flex-direction: column;
  width: 100%;
}

.section__two-title {
  padding-bottom: 20px;
}

.section__two-desc {
  padding-bottom: 65px;
}

.section__two-title,
.section__two-desc {
  font-size: 52px;
  font-weight: 900;
  /* padding-bottom: 20px; */
}

.span__services {
  font-size: 20px;
  font-weight: 900;
  transform: scaleY(2);
  padding-bottom: 40px;
}


.phone-logo {
  background-image: url(/images/phone.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}

.phone__container {
  font-size: 42px;
  font-weight: 900;
  padding-left: 140px;
}

.section__phone {}

.section__phone-list {}

.section__phone-item {}